#contact {
  z-index: 1;
  min-height: 95vh;
  background-color: var(--purple);
}

.contact-lead {
  color: white;
  padding-top: 5vh;
}

#contact > p {
  color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

.contact-email {
  color: white;
  font-weight: bold;
}
