#contact {
  z-index: 1;
  box-shadow: 0 0 4px black;
  min-height: 95vh;
  background-color: var(--blue);
}

.contact-lead {
  padding-top: 5vh;
}

#contact > p {
  padding-left: 5vw;
  padding-right: 5vw;
}

.contact-email {
  font-weight: bold;
}
