header {
  max-height: 100vh;
  width: 100%;
  background-color: var(--purple);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr 1fr 2fr 3fr 3fr 1fr;
  grid-template-areas: "."
                        "name"
                        "byline"
                        "."
                        "links"
                        "."
                        "arrow"
                        ;
}

.header-lead {
  text-align: center;
  color: white;
  grid-area: name;
}
.header-byline {
  text-align: center;
  color: white;
  grid-area: byline;
}
.header-websites {
  text-align: center;
  color: white;
  grid-area: links;
}

.site-img {
  padding-right: 6vw;
  padding-left: 6vw;
  max-width: 20vw;
  height: auto;
}

i {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
}

.header-arrow {
  margin: -5vw auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  grid-area: arrow;
}
