header {
  max-height: 100vh;
  background-color: var(--purple);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 1fr 1fr 2fr 3fr 3fr 1fr;
  grid-template-areas: "."
                        "name"
                        "byline"
                        "."
                        "links"
                        "."
                        "arrow"
                        ;
}

.header-lead {
  text-align: center;
  color: white;
  grid-area: name;
}
.header-byline {
  text-align: center;
  color: white;
  font-weight: bold;
  grid-area: byline;
}
.header-websites {
  text-align: center;
  color: white;
  grid-area: links;
}
.header-arrow {
  text-align: center;
  color: white;
  grid-area: arrow;
}
