nav {
  display: flex;
  justify-content: center;
  overflow: hidden;
  top: 0;
  height: 6vh;
  width: 100%;
  background-color: #333;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  text-decoration: line-through;
}

nav p {
  color: white;
  animation: blink 2s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
