#projects {
  min-height: 100vh;
  background-color: var(--white);
}

.project-lead {
  padding-top: 5vh;
}

.project {
  padding: 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "description highlights";
}

.project:nth-child(odd) {
  grid-template-areas: "highlights description";
}

.project-highlights {
  grid-area: highlights;
}

.project-description {
  grid-area: description;
}

@media only screen and (max-width: 500px) {
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "highlights"
                         "description";
  }

.project:nth-child(odd) {
  grid-template-areas: "highlights"
                       "description";
}

}
