#projects {
  min-height: 100vh;
  background-color: var(--white);
}

.project-lead {
  padding-top: 10vh;
}

.project {
  padding-bottom: 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "description highlights";
}

.project:nth-child(odd) {
  grid-template-areas: "highlights description";
}

.project-highlights {
  padding: 5vw;
  grid-area: highlights;
}

.project-description {
  padding: 5vw;
  grid-area: description;
}

.active-wrapper {
  padding-bottom: 20px;
}

.active-development {
  color: white;
  padding: 5px;
  background-color: var(--red);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .project {
    grid-template-columns: 1fr;
    grid-template-areas: "highlights"
    "description";
  }

  .project:nth-child(odd) {
    grid-template-areas: "highlights"
    "description";
  }
}
