#projects {
  min-height: 100vh;
  background-color: var(--white);
}

.project-lead {
  padding-top: 5vh;
}

.project {
  border: 1px black solid;
  padding: 15vw;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.project:nth-child(odd) {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 500px) {
  .project {
    padding-top: 40vw;
    padding-bottom: 40vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
